/* PAGE */

/*colour pallate: http://www.colourlovers.com/palette/3205166/Firestarter

light blue - 177B9F
medium blue - 175772
dark blue - 103A52
red/orange - FF5934
toape? - FAE7C7

*/


body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
  background: #175772;
  color: #eceeef;
}

h1{
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
  color: #eceeef;
  border-bottom: solid 2px;
}

h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
  color: #eceeef;
  border-bottom: solid 1px;
}

.table-100{
  width: 100%
}

.account-details{
  margin-left: 1em;
}

.currency-box{
  float: right;
  color: #12ca01;
}

.red-text{
  color: red;
}

.follow-name{
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}
.follow-container{
  padding: 0 1em 1em 1em;
}

.compose-container {
  text-align: left;
  margin-top: 2em;
  border: solid 1px #103A52;
}

.compose-title-container{
  padding: 1em;
  background-color: #103A52;
}
.compose-title-container .title{
  color: white;
}

.compose-editor-container{

}

.time-block{
  text-align: right;
  float: right;
  padding-right: 0.6em;
  padding-top: 0.5em;

  color: darkgray;
  font-size: smaller;
}


.editor-input{
  margin-bottom: 0.4em;
  background-color: #f3f3f3;
  border: dashed 1px #103A52;
  min-height: 80px;
  border-radius: 5px;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

/*Buttons*/
.pure-button-primary {
  background-color: #103A52;
}
.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-button-danger {
  /*color: white;*/
  /*background-color: #103A52;*/
}
.pure-button-danger:hover {
  background-color: #f3d6db;
}
.pure-button-success {
  color: white;
  background-color: #01ca4c;
}
.pure-button-success:hover {
  background-color: #36d270;
}

/*#01ca4c*/

.pure-table > thead {
  background: inherit;
  color: inherit;
}

.pure-form{
  background-color: #177B9F;
  padding: 0 1em 1em 1em;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#177b9f+0,175772+100 */
  background: #177b9f; /* Old browsers */
  background: -moz-linear-gradient(top, #177b9f 0%, #175772 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #177b9f 0%,#175772 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #177b9f 0%,#175772 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#177b9f', endColorstr='#175772',GradientType=0 ); /* IE6-9 */
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

.pure-form input{
  width: 100%;
  margin-bottom: 1em;
  border-color: #175872;
  background-color: #175872;
  box-shadow: none;
}

.pure-form label{
  text-transform: uppercase;
  font-size: smaller;

  /*toape? - FAE7C7*/
  color: #FAE7C7;
}

/*Copied from w3schools: https://www.w3schools.com/howto/howto_css_loader.asp*/
.loader {
    vertical-align: middle;
    margin-left: 0.8em;
    display:inline-block;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #FCD036;
    border-bottom: 5px solid #FCD036;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #103A52;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  /*background: #F7BF5C;*/
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

/* HOME */
.logo{
  max-width: 100%;
  max-height: 10em;
}

.profile-logo{
  max-height: 160px;
  max-width: 160px;
  border-radius: 80px;
  border: 2px solid #103A52;
}



/**/
.pure-button .uport-logo {
  height: 16px;

}

.feedItem {
  margin-bottom: 1em;
  border: solid 1px gray;

  text-align: left;
}

.feedItem .profile-logo{
  max-height: 60px;
  border-radius: 0 0 30px 0;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-top: none;
  border-left: none;
}

.feedItem .content-container{
  padding-left: 1em;
  padding-right: 4em;
  padding-bottom: 1em;
}

.feedItem .content-container h3{
  margin-top: 0;
}

.feedItem .profile-container {

}

.feedItem .button-container {
  text-align: right;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

.feedItem .button-container button{
  margin-left: 0.5em;
}

/* --- TABS --- */
.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;

  text-transform: uppercase;
}

.react-tabs__tab--selected {

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#177B9F+0,175772+95,175772+100 */
  background: #177B9F; /* Old browsers */
  background: -moz-linear-gradient(top, #177B9F 0%, #175772 99%, #175772 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #177B9F 0%,#175772 99%,#175772 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #177B9F 0%,#175772 99%,#175772 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#177B9F', endColorstr='#175772',GradientType=0 ); /* IE6-9 */

  border-color: #aaa;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.react-tabs__tab--disabled {
  color: gray;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}
